body {
  font-family: Arial, sans-serif; /* Set the font family for the entire page */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

h1 {
  background-color: #4CAF50; /* Set background color for h1 element */
  color: white; /* Set text color */
  margin: 0; /* Remove default margin */
  padding: 20px; /* Add padding around the heading */
}

form {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange form elements in a column */
  align-items: center; /* Center align form elements */
  margin-top: 20px; /* Add margin to the top of the form */
}

input[type=file] {
  margin-bottom: 20px; /* Add margin below file input */
}

input[type=submit] {
  background-color: #4CAF50; /* Set background color for submit button */
  border: none; /* Remove border */
  color: white; /* Set text color */
  padding: 12px 20px; /* Add padding */
  text-decoration: none; /* Remove default text decoration */
  cursor: pointer; /* Change cursor to pointer on hover */
}

input[type=submit]:hover {
  background-color: #3e8e41; /* Change background color on hover */
}

